<div class="cart-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Sipariş Geçmişi</h2>
      <div class="col-lg-8 col-md-12 mx-auto"> <!-- mx-auto sınıfını ekledik -->
        <div class="cart-table-wrap">
          <table class="cart-table">
            <thead class="cart-table-head">
              <tr class="table-head-row">
                <th>Sipariş Tarihi</th>
                <th>Sipariş Ürünleri</th>
                <th>Toplam</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let order of orders">
                <tr class="table-body-row">
                  <!-- <td class="product-image"><img src="assets/img/products/product-img-1.jpg" alt=""></td> -->
                  <td class="product-name">{{ order.createdDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>

                  <td class="product-price"><ul class="list-unstyled"><ng-container *ngFor="let item of order.cartProducts">
                    
                  <li> ( {{item.productName}}: {{item.price}}₺ ) x {{item.quantity}} = {{item.price * item.quantity}}₺</li></ng-container>
                  <li>Teslimat = 45₺</li>
                </ul>
                  </td>
                  <td class="product-total">
                    {{ calculateTotal(order.cartProducts) }}₺
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
