<div class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Yönetici Girişi</h3>
                </div>
                <div class="card-body">
                  <form [formGroup]="AdminLoginForm" (ngSubmit)="AdminLoginSubmit()">
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        type="text" id="username" formControlName="email"
                      />
                      <label for="inputEmail">Eposta Adresi</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        type="password" id="password" formControlName="password"
                        placeholder="Parola"
                      />
                      <label for="inputPassword">Parola</label>
                    </div>
                    <div class="form-check mb-3">
                      <input
                        class="form-check-input"
                        id="inputRememberPassword"
                        type="checkbox"
                        value=""
                      />
                      <label
                        class="form-check-label"
                        for="inputRememberPassword"
                        >Bilgileri Kaydet</label
                      >
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <a class="small" href="password.html">Şifremi Unuttum.</a>
                      <button type="submit" class="btn btn-primary">Giriş Yap</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center py-3">
                  <!-- <div class="small">
                    <a href="register.html">Need an account? Sign up!</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
