<div class="container mt-4">
  <h2 class="mb-4">Kullanıcı Bilgilerini Düzenle</h2>
  <hr />
  <div class="row">
    <div class="col-md-7">
      <form #myForm="ngForm" (ngSubmit)="updateAdmin()" class="card p-4" style="font-family: 'Helvetica Neue', Arial, sans-serif;">
        <div class="mb-3">
          <label for="name" class="form-label">İsim</label>
          <input type="text" [(ngModel)]="admin.name" class="form-control" id="name" name="name" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="mb-3">
          <label for="surname" class="form-label">Soyisim</label>
          <input type="text" [(ngModel)]="admin.surname" class="form-control" id="surname" name="surname" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-posta</label>
          <input type="email" [(ngModel)]="admin.email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Parola</label>
          <input type="password" [(ngModel)]="admin.password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary float-end" [disabled]="!myForm.valid">Kaydet</button>
      </form>
      
      
    </div>
  </div>
</div>
