<h2 class="mt-2">Kullanıcı Bilgilerini Düzenle</h2>
<hr />
  <h4 class="col-md-4">Kullanıcı</h4>
  <form class="col-md-4">
    <div class="mb-3">
      <label class="form-label">İsim</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
      <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Soyisim</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">E-posta</label>
        <input type="email" class="form-control"  aria-describedby="emailHelp">
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>
    <div class="mb-3">
      <label class="form-label">Parola</label>
      <input type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary float-right">Kaydet</button>
  </form>
