<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Hakkımızda</h2>
          <p>
            Organik Tutkumuzla Tanışın! Biz, sağlıklı beslenmeyi ve doğal
            ürünleri benimseyen bir ekibiz. Tarladan sofraya uzanan yolda,
            kaliteli organik ürünleri sizinle buluşturuyoruz.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">İletişim</h2>
          <ul>
            <li>Özlüce, Nilüfer, Bursa</li>
            <li>tatlbayram&#64;gmail.com</li>
            <li>+90 000 111 2222</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Bağlantılar</h2>
          <ul>
            <li><a routerLink="/shop/index">Ana Sayfa</a></li>
            <li><a routerLink="/shop/about">Hakkımızda</a></li>
            <li><a routerLink="/shop/products">Market</a></li>
            <li>
              <a
                routerLink="/shop/contact"
                routerLinkActive="router-link-active"
                >İletişim</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box">
          <h2 class="widget-title">Copyright</h2>
          <p>Web Developer Bayram Tatlı</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
