<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Taze & Organik</p>
            <h1>Lezzetli Sezonluk Meyveler</h1>
            <div class="hero-btns">
              <a routerLink="/shop/products" class="boxed-btn">Satıştaki Meyvelerimiz</a>
              <a routerLink="/shop/contact"  class="bordered-btn">Bizimle İletişime Geç</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- end hero area -->
    
    <!-- features list section -->
    <div class="list-section pt-80 pb-80">
    <div class="container">
    
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="content">
            <h3>Ücretsiz Teslimat</h3>
            <p>Toplam 75₺'lik alımda geçerlidir</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <div class="content">
            <h3>7/24 Destek</h3>
            <p>Gün boyunca destek hattımız aktiftir</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon">
            <i class="fas fa-sync"></i>
          </div>
          <div class="content">
            <h3>İade</h3>
            <p>Get refund within 3 days!</p>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    </div>
    <!-- end features list section -->
    
    <!-- product section -->
    <div class="product-section mt-150 mb-150">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">	
          <h2><span class="orange-text">Ürünlerimiz</span></h2>
          <p style="margin: auto !important;">Tarladan sofraya doğrudan organik lezzetler! Biz, sağlıklı yaşamı ve taze ürünleri ön planda tutan bir ekibiz. En kaliteli organik ürünleri tarlalardan toplayıp siz değerli müşterilerimize ulaştırıyoruz. Lezzetin ve sağlığın adresi için bizi tercih edin!</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
          </div>
          <h3>Strawberry</h3>
          <p class="product-price"><span>Per Kg</span> 85$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
          </div>
          <h3>Berry</h3>
          <p class="product-price"><span>Per Kg</span> 70$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
          </div>
          <h3>Lemon</h3>
          <p class="product-price"><span>Per Kg</span> 35$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- end product section -->
    
  
    <!-- advertisement section -->
    <div class="abt-section mb-150">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="abt-bg">
          <a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="abt-text">
          <p class="top-sub">2001'den beri</p>
          <h2>Biz <span class="orange-text">Fruitkha</span></h2>
          <p>Organik Lezzetin Adı: Biz! Doğadan sofranıza ulaşan bir köprüyüz. Tarlalarımızda özenle yetiştirdiğimiz organik ürünleri, sağlıklı yaşamı benimseyen müşterilerimizle buluşturuyoruz. Yüksek kalite standartlarımız ve sürdürülebilir tarım anlayışımızla, her tattığınızda doğanın doğallığını hissedeceksiniz. Sağlıklı, lezzetli ve güvenilir bir alternatif arıyorsanız, bizimle yola çıkın. Organik yaşamın ayrıcalığını birlikte yaşayalım!</p>
          <a href="about.html" class="boxed-btn mt-4">daha fazlasını öğren</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    
    

