	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Alıcı Bilgileri
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="index.html">
						        		<p><input type="text" value="{{customer.name}}" placeholder="Adınız"></p>
						        		<p><input type="email"value="{{customer.surname}}" placeholder="Soyadınız"></p>
						        		<p><input type="tel" value="{{customer.phoneNumber}}" placeholder="Telefon numaranız"></p>
						        		<p><textarea cols="30" rows="3" placeholder="Sipariş Notu"></textarea></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Teslimat Adresi
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form billing-address-form">
									<form>
									<p><input type="text" value="{{customer.adress.county}}" placeholder="İlçe"></p>
									<p><input type="email" value="{{customer.adress.city}}" placeholder="Şehir"></p>
									<p><input type="tel" value="{{customer.adress.description}}" placeholder="Adres bilgisi"></p>
									</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Kart Bilgileri
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details billing-address-form">
									<form>
									<p><input type="text" placeholder="Kart Numarası"></p>
									<p><input type="email" placeholder="Son kullanma tarihi"></p>
									<p><input type="tel" placeholder="CVC"></p>
									</form>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Sipariş Detayları</th>
									<th>Sipariş Ücreti</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Ürünler</td>
									<td>Toplam</td>
								</tr>
																
								<tr *ngFor="let item of cartProductList">
									<td>{{item.productName}} x {{item.quantity}}kg</td>
									<td>{{item.price*item.quantity}}</td>
								</tr>
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Ara Toplam</td>
									<td>{{ calculateSubtotal() }}</td>
								</tr>
								<tr>
									<td>Taşıma Bedeli</td>
									<td>$50</td>
								</tr>
								<tr>
									<td>Toplam</td>
									<td>{{ calculateSubtotal()+50 }}</td>
								</tr>
							</tbody>
						</table>
						<a (click)="createOrder()" class="boxed-btn">Siparişi Tamamla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

