<nav class="main-menu">
    <ul>
      <li><a routerLink="/shop/index">Home</a>
      </li>
      <li><a routerLink="/shop/about">About</a></li>
      <li><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="404.html">404 page</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="cart.html">Cart</a></li>
          <li><a href="checkout.html">Check Out</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="shop.html">Shop</a></li>
        </ul>
      </li>
      <li><a routerLink="/shop/products">Market</a>
      </li>
      <li><a routerLink="/shop/contact">Contact</a></li>
      <li>
        <div class="header-icons">
          <a class="shopping-cart" routerLink="/shop/cart"><i class="fas fa-shopping-cart"></i></a>
          <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- search area -->
<div class="search-area">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <span class="close-btn"><i class="fas fa-window-close"></i></span>
      <div class="search-bar">
        <div class="search-bar-tablecell">
          <h3>Search For:</h3>
          <input type="text" placeholder="Keywords">
          <button type="submit">Search <i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- end search area -->