	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"> Kaldır</th>
									<!-- <th class="product-image">Product Image</th> -->
									<th>Ürün</th>
									<th>Ürün Fiyatı</th>
									<th>Adet</th>
									<th>Toplam</th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let cartProduct of cartProductList">
								<tr class="table-body-row">
									<td class="product-remove"><a class="btn btn-outline-danger"><i class="fa fa-remove" style="color:red"></i></a></td>
									<!-- <td class="product-image"><img src="assets/img/products/product-img-1.jpg" alt=""></td> -->
									<td class="product-name">{{cartProduct.productName}}</td>
									<td class="product-price">{{cartProduct.price}} ₺</td>
									<td class="product-quantity"><input type="number" [(ngModel)]="cartProduct.quantity"(ngModelChange)="updateTotal()" min="1"></td>
									<td class="product-total">{{ calculateProductTotal(cartProduct) }}</td>
								</tr>
								</ng-container>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="order-details">
							<thead>
								<tr>
									<th>Sipariş Detayları</th>
									<th>Sipariş Ücreti</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Ürünler</td>
									<td>Toplam</td>
								</tr>
																
								<tr *ngFor="let item of cartProductList">
									<td>{{item.productName}} x {{item.quantity}}kg</td>
									<td>{{item.price*item.quantity}}</td>
								</tr>
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Ara Toplam</td>
									<td>{{ calculateSubtotal() }}</td>
								</tr>
								<tr>
									<td>Taşıma Bedeli</td>
									<td>$50</td>
								</tr>
								<tr>
									<td>Toplam</td>
									<td>{{ calculateSubtotal()+50 }}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a [routerLink]="['/shop/products']" routerLinkActive="router-link-active"  class="boxed-btn">Sepete Ürün Ekle</a>
							<a [routerLink]="['/shop/checkout']" class="boxed-btn black">Ödemeye Geç</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

