<div class="top-header-area" id="sticker" style="background-color: #051922;">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a routerLink="/shop/index">
              <img src="../assets/img/logo.png" alt="">
            </a>
          </div>
          <!-- logo -->
    
          <!-- menu start -->
          <app-navbar></app-navbar>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
    </div>
    </div>
